.organization-div {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px;

    a,
    a:link,
    a:visited,
    a:hover,
    a:active {
        display: flex;
        gap: 4px;
        color: black;
        font-weight: bold;
        text-decoration: none;
        margin-bottom: 4px;
        align-items: center;
    }

    .organization-select {
        margin-top: 10px 0px;
        width: 100%;
    }
}

.sidebar-logo {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 0px;

    p {
        font-size: 16px;
    }
}
