@use "./base/mixins";
@use "./base/variables";
@use "./base/reset";
@use "./base/typograph";
@use "./layout/Header.scss";
@use "./layout/Login.scss";
@use "./layout/Register.scss";
@use "./layout/Sidebar.scss";

body {
    font-family: variables.$font-inter !important;
    background-color: variables.$background-color-primary;
}

main {
    padding: 28px;
    width: 100%;
    height: 100%;
}

section.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.primary-button {
    background-color: variables.$primary-color;
    font-family: "Inter", sans-serif;
    text-transform: none;
    letter-spacing: normal;

    &:hover {
        background-color: #6f8fbb;
    }
}

