@use "./base/mixins";
@use "./base/variables";
@use "./base/reset";
@use "./base/typograph";
@use "./layout/Header.scss";
@use "./layout/Login.scss";
@use "./layout/Register.scss";

body {
    font-family: variables.$font-inter;
    background-color: variables.$background-color-primary;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.primary-button {
    background-color: variables.$primary-color;
    font-family: "Inter", sans-serif;
    text-transform: none;
    letter-spacing: normal;

    &:hover {
        background-color: #6f8fbb;
    }
}

