@use "./base/mixins" as *;
@use "./base/variables";
@use "./base/reset";
@use "./base/typograph";
@use "./layout/Header.scss";
@use "./layout/Login.scss";
@use "./layout/Register.scss";
@use "./layout/Sidebar.scss";
@use "./components/button.scss";

body {
    font-family: variables.$font-inter !important;
    background-color: variables.$background-color-primary;
}

main {
    padding: 28px;
    width: 100%;
    height: 100%;
}

main:has(.centered-section) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    padding: 0;
}

section.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    background-color: #FFFFFF;
    padding: 12px;
    border-radius: 12px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.primary-button {
    background-color: variables.$primary-color;
    font-family: "Inter", sans-serif;
    text-transform: none;
    letter-spacing: normal;

    &:hover {
        background-color: #6f8fbb;
    }
}

.MuiInputBase-input, .MuiFormLabel-root {
    font-family: "Inter", sans-serif !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.logout-button {
    button  {
        width: 100%;
        text-transform: none;
        color: black;
        border-color: black;
        &:hover {
            background-color: #f0f0f0;
        }
    }
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .user-name {
        font-weight: bold;
    }

    .user-role {
        font-size: 14px;
    }
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 12px;
    justify-content: flex-end;
    button {
        width: 230px;
    }
}

.btn.primary.icon {
    background-color: #2E819D;
    color: white;
    font-family: "Inter", sans-serif;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
}

.btn.secondary.icon {
    background-color: transparent;
    border: 2px solid #EFEFEF;
    color: #2E819D;
    font-family: "Inter", sans-serif;
    text-transform: none;
    font-weight: normal;
    letter-spacing: normal;
}

.project-item {
    display: flex;
    flex-direction: column;
    width: 240px;
    padding: 24px;
    background-color: white;
    border-radius: 12px;
    gap: 20px;
    img {
        border-radius: 12px;
        width: 100%;
        height: 120px;
    }
}

.page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

[title] {
  pointer-events: none;
}

.script-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
        display: flex;
        padding: 12px;
        list-style-type: none;
        justify-content: space-between;
        width: 230px;
        background-color: #EFEFEF;
        border-radius: 12px;
        font-weight: bold;
        align-items: center;
        > div {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

.centered-container {
    padding: 1em 2em;
    width: 100%;
    .centered-section {
        background-color: #FFFFFF;
        padding: 24px;
        border-radius: 20px;
    }
}

.organization-section {
    @include flex-column(start, stretch, 24px);

    .organization-title {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    h2 {
        font-size: 20px;
    }

    .project-organization-general {
        @include flex-column(start, stretch, 16px);
    }

    .project-organization-select {
        @include flex(space-between, center, 8px);
        flex-wrap: wrap;
        padding: 24px;
        background-color: #F5F5F5;
        border: 2px solid #C8C6C6;
        border-radius: 16px;

        .project-organization-infos {
            @include flex-column(start, start, 8px);
            label {
                font-weight: bold;
            }
        }

        button.primary-button {
            min-width: 120px;
        }
    }
}

.select-option {
    @include flex-column(start, start, 16px);
}

.input-container {
    @include flex(start, start, 16px);
}
