@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@mixin inter-font($uniquifier, $weight) {
  .inter-#{$uniquifier} {
    font-family: $font-family-inter;
    font-optical-sizing: auto;
    font-weight: $weight;
    font-style: $font-style-normal;
  }
}

main .MuiTypography-root {
  font-family: 'Inter';
}

.MuiFormControlLabel-asterisk {
  color: #C34646;
}
